body {
    background-color:#90C7E3; /* bgc#90C7E3 */
    background: linear-gradient(to bottom,#FFF, #90C7E3);
    background-attachment: fixed;
    color:#555; /* c#555 */
    font-family:Arial, Helvetica, sans-serif; /* ffa */
    margin:0px;
}

header {
    background-color:#002171; /* bgc#002171 */
    color:#FFF; /* c#fff */
    background-image:url(sunset.jpg); /* bgi */
    background-repeat:no-repeat; /* bgr */
    background-position:right; /* bgdp */
    height: 60px; /* h60px */
    text-align:center; /* tac */
    padding-top: 15px; /* pt15px */
    margin-top: 15px; /* mt15px */

}

nav {
    background-color:#FFF; /* bgc#fff */
    font-weight: bold; /* fwb */
    padding: 1em; /* p1em */
    text-align: center; /* tac */
}
nav a {
    text-decoration:none; /* txd */
}

h1 {
    margin-bottom:0px; /* mb0 */
    margin-top: 0px; /* mt0 */
}

h2 {
    color:#1976D2; /* c#1976d2 */
    text-shadow: 1px 1px #ccc; /* txsh1px1px#ccc */
}

h3 {
    color: #003; /* c#003 */ 
}

h1,h2,h3 {
    font-family:Georgia, 'Times New Roman', serif;
}

dt {
    color:#002171; /* c#002171 */
}

address {
    font-style: normal; /* fsnormal */
}

footer {
    font-size:75%; /* fsz75% */
    font-style:italic; /* fsi */
    text-align:center; /* tac */
    font-family:Georgia, 'Times New Roman', serif;
    padding: 2em; /* p2em */
}

main {
    padding: 1px 20px 20px; /* p1px20px20px */
    display: block; /* db */
}

.resort {
    color:#1976D2; /* c#1976D2 */
}

#content {
    font-size:90%; /* fsz90% */
}

#wrapper {
    width:80%; /* w80% */
    margin: auto;
    background-color: #fff; /* bgc#fff */
    min-width: 960px; /* minw960px */
    max-width: 2048px; /* maxw2048px */
    box-shadow: 3px 3px #333; /* bxsh3px3px#333 */
}

#homehero {
    background-image:url(coast.jpg); /* bgi */
}

#yurthero {
    background-image:url(yurt.jpg); /* bgi */
}

#trailhero {
    background-image:url(trail.jpg); /* bgi */
}

#homehero, #yurthero, #trailhero {
    height: 18.75rem; /* h18.75rem */
    background-size: 100% 100%; /* bgz100%100% */
    background-repeat: no-repeat;
}  

